{% extends "base.html.twig" %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>

    {% if is_granted("ROLE_USER") %}
        <h3>Add article</h3>
        <div class="col-sm-12">
            {{ include('article/add-form.html.twig') }}
        </div>
    {% endif %}


    <table class="col-sm-12 table table-bordered table-striped table-dark table-hover">
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Created at</th>
            <th>Action</th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{article.title}}</td>
                <td>{{article.content}}</td>
                <td>{{article.createdAt | date('Y-m-d h:i:s')}}</td>
                <td>
                    <a href="{{ path('app_article_edit', {'article': article.id}) }}">Edit </a> -
                    <a href="{{ path('app_article_delete', {'article': article.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="album py-5 bg-light">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_167243c527b%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_167243c527b%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.8359375%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                        <div class="card-body">
                            <h4>{{ article.title }}</h4>
                            <p class="card-text">{{ article.content }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('app_article_show', {'article' : article.id}) }}">View</a></button>
                                    {% if is_granted("ROLE_SUPER_ADMIN") or app.user == article.user  %}
                                        <button type="button" class="btn btn-sm btn-outline-secondary" ><a class="edit-article" href="{{ path('app_article_edit', {'article':article.id}) }}">Edit</a></button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary "><a class="delete-confirmation" href="{{ path('app_article_delete', {'article':article.id}) }}">Delete</a></button>
                                    {% endif %}
                                </div>
                            </div>
                            <small>{{ article.createdAt | date('d/m/Y') }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.delete-confirmation').on('click', function () {
            return confirm('Are you sure?');
        });

    </script>
{% endblock %}