<form method="post">
    {{ form_start(form) }}

    <div class="form-group col-md-12">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group col-md-12">
        {{ form_label(form.content) }}
        {{ form_widget(form.content, { 'attr': {'class': 'form-control'} }) }}
    </div>


    <div class="form-group col-md-12">
        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
    </div>

    {{ form_end(form) }}
</form>